/node_modules
/vendor
/public/build
/.git
/.github
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/.env
/.phpunit.cache
/tests
.editorconfig
.gitattributes
phpunit.xml
docker-compose.yml
Dockerfile
README.md
AGENT.md
